.address {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  align-items: center;
  display: flex;

}

.delivery {
  background-color: #f3f3f3;
  border: 2px solid transparent;
  padding: 1vh 1vw 1vh 2vw;
  border-radius: 5px;
  max-width: 12vw;
  flex: 1;
  /* font-size: inherit;  */
  position: relative;
}

.address input:focus-within {
  border: 2px solid black;
  background-color: white;

  transition: 0.3s ease;
}

.address i {
  position: absolute;
  font-size: 10px;
  margin-left: 15px;
  z-index: 2;
}