.중앙 {
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 20px; 

    font-weight: 500;
    font-family: 'UberMoveText', sans-serif;
}